* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
}

.cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #382e32;
}

#i3id {
    background-color: #ac396d;
}

#ix5h {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #ffffff;
}

#io3l {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#il3u {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#io8k {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#i481i {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#iuko7 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#ie5dl {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#iqmb3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#ixk5k {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#i4j8f {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#izjo6 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#iwq0g {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#isppf {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#ieuc3 {
    text-align: center;
}

#columnstart {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#i4w6t {
    padding: 10px;
    float: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

#injjh {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

@media (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }
}